.headerContainer {
  @media (min-width: 375px) {
    padding: 0 16px;
    display: flex;
    width: 375px;
    align-items: center;
    width: auto;
  }

  @media (min-width: 768px) {
    padding: 0 32px;
    margin: auto;
  }

  @media (min-width: 1440px) {
    padding: 0 64px;
    width: 1440px;
    margin: auto;
  }
}

.header {
  background-color: var(--badges);
}
