.navList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--main);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.active {
  color: var(--button-hover);
}
